<!--# include virtual="../../../components/_head.html" -->
    <div class="wrap">
        <!--# include virtual="../../../components/_header.html" -->
        <main>
            <section>
                <div class="section-01">
                    <div class="container">
                        <div class="frame">
                            <img src="../../../resource/images/img_banner01.jpg" aria-hidden="true">
                        </div>
                        <div class="section-01__left">
                            <div class="section-01__label">
                                best of my style
                            </div>
                            <h2 class="title">
                                Liadrin will help you feel<br>
                                confident with 
                                <div class="typing-txt"> 
                                    <ul>
                                        <li>your self</li>
                                        <li>love</li>
                                        <li>work</li>
                                    </ul>
                                </div>
                                <span class="typing"></span> 
                            </h2>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipiscing elit dui
                                tempus augue tincidunt inceptos tempor ac, tellus donec morbi nulla magna per
                                maecenas arcu velit ornare mus ultricies. Sed malesuada nam proin ornare pulvinar
                                libero venenatis augue felis
                            </p>
                            <div class="section-01__button-wrap">
                                <button type="button" class="button">LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="section-02">
                    <div class="section-02__top">
                        <div class="container">
                            <h2 class="title">Welcome to Liadrin</h2>
                            <div class="description">
                                Nullam sagittis. Vivamus laoreet. Vestibulum rutrum, mi nec vehicula, eros quam<br>gravida nisl, id fringilla neque...
                            </div>
                            <div class="frame">
                                <img src="../../../resource/images/img_banner02.jpg" aria-hidden="true">
                                <button class="play-button" onclick="window.open('http://www.youtube.com/watch?v=Gy9cfUDFxiM','youtube','width=500,height=500,location=no,status=no,scrollbars=yes');" aria-label="동영상 보기">
                                </button>
                                <div class="animation-circle" aria-hidden="true"></div>
                                <div class="animation-circle" aria-hidden="true"></div>
                                <div class="animation-circle" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="section-02__bottom">
                        <div class="container">
                            <div class="section-02__row">
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 50%;"></span>
                                            <span class="status__percent" style="left: 50%;">50%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 60%;"></span>
                                            <span class="status__percent" style="left: 60%;">60%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 70%;"></span>
                                            <span class="status__percent" style="left: 70%;">70%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 80%;"></span>
                                            <span class="status__percent" style="left: 80%;">80%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 90%;"></span>
                                            <span class="status__percent" style="left: 90%;">90%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-02__column">
                                    <div class="status">
                                        <div class="status__label">Design</div>
                                        <div class="status__bar">
                                            <span aria-label="디자인 상태 바" style="width: 100%;"></span>
                                            <span class="status__percent" style="left: 100%;">100%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="section-03">
                    <div class="container">
                        <div class="section-03__inner">
                            <div class="section-03__column">
                                <h2 class="title">Get In Touch</h2>
                                <div class="description">
                                    Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                </div>
                            </div>
                            <div class="section-03__column">
                                <div class="form">
                                    <div class="form__column">
                                        <label>Name</label>
                                        <input type="text" >
                                    </div>
                                    <div class="form__column">
                                        <label>Email</label>
                                        <input type="text" >
                                    </div>
                                    <div class="form__column">
                                        <label>Website</label>
                                        <input type="text" >
                                    </div>
                                    <div class="form__column">
                                        <label>Phone</label>
                                        <input type="text" >
                                    </div>
                                    <div class="form__column form__column--w100">
                                        <label>Message</label>
                                        <textarea></textarea>
                                    </div>
                                    <div class="form__button-wrap">
                                        <button type="submit">submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--# include virtual="../../../components/_footer.html" -->
    </div>

    <!--# include virtual="../../../components/_js.html" -->
</body>

</html>