<header class="header">
    <div class="header__inner">
        <div class="header__logo">
            <img src="http://ledthanhdat.vn/html/liadrin/assets/images/logo.png">
        </div>
        <button class="m-trigger" aria-label="메뉴 열기"></button>
        <nav class="nav">
            <ul>
                <li>
                    <button class="active">home</button>
                </li>
                <li>
                    <button>about</button>
                </li>
                <li>
                    <button>contact</button>
                </li>
            </ul>
        </nav>
    </div>
</header>