.button{
    border: 2px solid #333;
    letter-spacing: 0.2em;
    font-weight: 700;
    padding: 10px 30px;
    &:hover{
        background-color: #333;
        color: #edf4f4;
    }
}

button[type="submit"]{
    background-color: #000;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    padding: 10px 40px;
}

.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:70px;
    height: 70px;
    border-radius: 100%;
    background-color: #fff;
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid rgb(164,213,213);
    }
}