@charset "utf-8";

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700; 
	src:local('@'),
        url('../../resource/fonts/PlayfairDisplay_Bold.woff2') format('woff2')
		// url('../fonts/Roboto-Bold.woff') format('woff'), 
		// url('../fonts/Roboto-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700; 
	src:local('@'),
		url('../../resource/fonts/Poppins_Bold.woff2') format('woff2')
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400; 
	src:local('@'),
		url('../../resource/fonts/Poppins_Regular.woff2') format('woff2')
}