.form{
    font-size: 0;
    &__column{
        display: inline-block;
        width: 50%;
        padding: 0 10px;
        &:nth-of-type(n+3){
            margin-top: 30px;
        }
        &--w100{
            width: 100%;
        }
    }
    &__button-wrap{
        text-align: center;
        margin-top: 30px;
    }
    label{
        font-size: 13px;
    }
}

input[type="text"],
textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #999;
}

textarea{
    min-height: 100px;
    resize: vertical;
}
