.header{
    $root:&;
    padding:0 50px;
    background-color: #edf4f4;
    &__inner{
        display: flex;
        align-items: center;
        padding: 20px 0;
    }
    &.active{
        position: fixed;
        width: 100%;
        top:0;
        left:0;
        z-index: 10;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .05); 
        box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
        transition: .3s;
        #{$root}{
            &__inner{
                padding: 10px 0;
                transition: .3s;
            }
        }
    }
}

.nav{
    margin-left: auto;
    ul{
        li{
            display: inline-block;
            button{
                display: block;
                padding:20px 10px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.2em;
                &.active{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: calc(100% - 20px);
                        height:2px;
                        background-color: #333;
                        bottom: 15px;
                        left:10px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:750px) {
    .header{
        &.active{
            .nav{
                top:50px;
            }
        }
    }
    .nav{
        display: none;
        width: 100%;
        position: absolute;
        top:70px;
        left: 0;
        background-color: #333;
        transition: .3s;
        ul{
            li{
                display: block;
                button{
                    width: 100%;
                    color: #fff;
                    font-size: 24px;
                }
            }
        }
        &.active{
            display: block;
            z-index: 20;
        }
    }
    .m-trigger{
        margin-left: auto;
        border-style: solid;
        border-color: #333 transparent transparent transparent ;
        border-width: 12px 8px 0 8px ;
        &.active{
            border-color: transparent transparent #333 transparent ;
            border-width: 0 8px 12px 8px ;
        }
    }
}