section{
    margin: 0 auto;
}
.container{
    padding: 0 50px;
    margin: 0 auto;
}
.section{
    &-01{
        position: relative;
        background-color: #edf4f4;
        padding: 100px 0 30px;
        border-bottom: 5px solid #000;
        &__label{
            font-family: 'Poppins';
            font-weight: 700;
            padding-left: 70px;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            &::before{
                content: '';
                position: absolute;
                left:0;
                top: 50%;
                transform: translateY(-50%);
                width: 50px;
                height: 2px;
                background-color: #333;
            }
        }
        &__left{
            width: 50%;
        }
        &__button-wrap{
            margin-top: 20px;
        }
        .frame{
            position: absolute;
            width: 33%;
            top: 20px;
            right: 50px;
        }
        .title{
            margin-top: 20px;
        }
        .description{
            margin-top: 20px;
        }
    }
    &-02{
        padding-top: 180px;
        position: relative;
        &__top{
            padding: 55px 0 ;
            background: url(../../../resource/images/bg_wave.png) no-repeat 50% 0 /63px 31px;
            border-bottom: 5px solid #000;
        }
        &__bottom{
            background-color: #edf4f4;
            padding: 300px 0 80px;
            margin-top: -300px;
        }
        &__row{
            font-size: 0;
        }
        &__column{
            display: inline-block;
            width: calc(50% - 5px);
            margin-top: 20px;
            &:nth-of-type(even){
                margin-left: 10px;
            }
        }
        .title{
            text-align: center;
            font-size: 30px;
        }
        .description{
            margin-top: 10px;
            text-align: center;
        }
        .frame{
            position: relative;
            margin-top: 10px;
        }
    }
    &-03{
        padding: 60px 0;
        &__inner{
            display: flex;
        }
        &__column{
            width:40%;
            &:first-of-type{
                padding-right: 20px;
            }
            &:last-of-type{
                padding-left: 20px;
                width: 60%;
            }
        }
        .title{
            position: relative;
            font-size: 30px;
            padding-bottom: 20px;
            &::before{
                content: '';
                position: absolute;
                width: 100px;
                height: 4px;
                left: 0;
                bottom: 0;
                background-color: #a4d5d5;
            }
        }
        .description{
            margin-top: 20px;
        }
    }
}


.title{
	font-family: 'Playfair Display';
    line-height: 1.2;
    font-size: 34px;
    font-weight: 700;
}

.description{
    font-size: 14px;
    line-height: 2;
}

.frame{
    border: 10px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

.status{
    &__label{
        font-size: 18px;
    }
    &__percent{
        display: inline-block;
        font-size: 14px;
        position: absolute;
        top:-40px;
        margin-left: -14px;
        position: relative;
        padding-bottom: 10px;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left:50%;
            transform: translateX(-50%);
            border-style: solid;
            border-color: #000 transparent transparent transparent;
            border-width: 6px 5px 0 5px;
        }
    }
    &__bar{
        position: relative;
        margin-top: 10px;
        span:not(.status__percent){
            display: block;
            height:5px;
            background-color: #333;
        }
    }
}

.typing-txt{
    display: none;
}
.typing {
	font-family: 'Playfair Display';
    display: inline-block; 
    animation-name: cursor; 
    animation-duration: 0.3s; 
    animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
    0%{
        border-right: 1px solid #fff
    } 
    50%{
        border-right: 1px solid #000
    } 
    100%{
        border-right: 1px solid #fff
    } 
}

@media screen and (max-width:1080px) {
    .section{
        &-02{
            &__column{
                width: 100%;
                &:nth-of-type(even){
                    margin-left: 0;
                }
            }
        }
    }
}
@media screen and (max-width:750px) {
    .section{
        &-01{
            padding-top: 10px;
            &__label{
                margin-top: 20px;
            }
            &__left{
                width: 100%;
            }
            .frame{
                position: unset;
                width: 80%;
            }
        }
        &-02{
            padding-top: 40px;
        }
        &-03{
            &__inner{
                display: block;
            }
            &__column{
                width: 100%;
                padding-right: 0;
                &:first-of-type{
                    padding-right: 0;
                }
                &:last-of-type{
                    width: 100%;
                    padding-left: 0;
                    margin: 30px -10px 0;
                }
            }
        }
    }
    .title{
        font-size: 24px;
    }
}